#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

#keywordsearch  {
    text-align: left;
}

ul.engines {
    border: 1px solid white;
    padding: 5px;

}
ul.engines li {
    list-style:none;
    margin: 5px 0;
    padding: 5px;
}
    ul.engines li label {
     
    }